---
  root: true
  parser: '@typescript-eslint/parser'
  plugins:
    - '@typescript-eslint'
    - prettier
    - react
    - emotion
  extends:
    - airbnb
    - plugin:@typescript-eslint/recommended
    - plugin:import/typescript
    - plugin:prettier/recommended
    - prettier/@typescript-eslint
  parserOptions:
    ecmaVersion: 6
    project: ./tsconfig.json
    sourceType: module
  rules:
    emotion/jsx-import: off
    emotion/no-vanilla: error
    emotion/import-from-emotion: error
    emotion/styled-import: error
    react/destructuring-assignment: off
    quotes:
      - error
      - single
    prettier/prettier: error
    react/jsx-filename-extension:
      - 1
      - extensions:
        - .jsx
        - .tsx
    jsx-a11y/anchor-is-valid:
      - error:
        aspects:
         - invalidHref
         - preferButton
        components:
          - Link
        specialLink:
          - hrefLeft
          - hrefRight