---
  root: true
  parser: '@typescript-eslint/parser'
  plugins:
    - '@typescript-eslint'
    - prettier
    - react
  extends:
    - eslint:recommended
    - plugin:@typescript-eslint/recommended
    - airbnb
    - prettier/@typescript-eslint
    - plugin:prettier/recommended
    - plugin:import/typescript
  parserOptions:
    ecmaVersion: 6
    project: ./tsconfig.json
    sourceType: module
  rules:
    react/destructuring-assignment: off
    quotes:
      - error
      - single
    prettier/prettier:
      - error
      - singleQuote: true
        trailingComma: true
        printWidth: 100
    react/jsx-filename-extension:
      - 1
      - extensions:
        - .jsx
        - .tsx
    jsx-a11y/anchor-is-valid:
      - error:
        aspects:
         - invalidHref
         - preferButton
        components:
          - Link
        specialLink:
          - hrefLeft
          - hrefRight
